<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYCzRZMg1LmReBGrxCdmC8QfMnSZnOukw</string>
	<key>GCM_SENDER_ID</key>
	<string>644424752010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hyperLocalSocializationApp</string>
	<key>PROJECT_ID</key>
	<string>hyper-local-socialization</string>
	<key>STORAGE_BUCKET</key>
	<string>hyper-local-socialization.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644424752010:ios:300f462e881338fc930673</string>
</dict>
</plist>